.design-landing .container .landing {
    width: 100%;
    min-height: 252px;
    background-color: var(--peach);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media(max-width:1024px) {
}
@media(max-width:767px) {
    .design-landing .container .landing {
        border-radius: 5px;
    }
    .design-landing .container .landing .text-box {
        padding: 0px 15px;
    }
    .design-landing .container .landing .text-box h1 {
        font-size: 36px;
        line-height: 36px;
    }
    .design-landing .container .landing .text-box p {
        font-size: 13px;
        margin-bottom: 0px;
    }
    .design-landing .container .landing .text-box p br {
        display: none;
    }
}
.design-card {
    padding-top: var(--main-padding);
}
.design-card .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 35px;
}
.design-card .container .card {
    display: flex;
    flex-direction: column;
}
.design-card .container .card .image {
    width: 100%;
    min-height: 320px;
}
.design-card .container .card .image img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px ;
}
.design-card .container .card .text-box {
    width: 100%;
    min-height: 160px;
    text-align: center;
    padding: 32px;
    cursor: pointer;
    border-radius: 0px 0px 15px 15px;
    transition: all var(--main-transition);
}
.design-card .container .card .text-box h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 5px;
    color: var(--peach);
    margin-bottom: 16px;
    transition: all var(--main-transition);
}
.design-card .container .card .text-box p {
    line-height: 26px;
    transition: all var(--main-transition);
}
.design-card .container .card .text-box:hover {
    background-color: var(--peach);
}
.design-card .container .card .text-box:hover h1,
.design-card .container .card .text-box:hover p {
    color: var(--white);
}
@media(max-width: 1024px) {
    .design-card .container {
        grid-template-columns: 1fr;
    }
    .design-card .container .card {
        flex-direction: row;
    }
    .design-card .container .card .image {
        min-width: 340px;
    }
    .design-card .container .card .image img {
        border-radius: 15px 0px 0px 15px ;
    }
    .design-card .container .card .text-box {
        width: 100%;
        min-height: 100%;
        cursor: pointer;
        border-radius:  0px 15px 15px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px;
    }
}
@media(max-width: 767px) {
    .design-card .container .card {
        flex-direction: column;
    }
    .design-card .container .card .image {
        width: 100%;
        min-height: 320px;
        min-width: 100%;
    }
    .design-card .container .card .image img {
        width: 100%;
        height: 100%;
        border-radius: 15px 15px 0px 0px ;
    }
    .design-card .container .card .text-box {
        width: 100%;
        min-height: 160px;
        text-align: center;
        padding: 32px;
        cursor: pointer;
        border-radius: 0px 0px 15px 15px;
        transition: all var(--main-transition);
    }
}