.landing .container .hero-section {
    width: 100%;
    min-height: 640px;
    border-radius: 15px;
    background-color: var(--peach);
    display: flex;
    align-items: center;
    padding-left: 95px;
    position: relative;
    cursor: pointer;
}
.landing .container .hero-section img.phone{
    max-width: 284px;
    max-height: 573px;
    position: absolute;
    bottom: -72px;
    right: 95px;
    border-radius: 25px;
}
.landing .container .hero-section .text-box {
    max-width: 540px;
}
.landing .container .hero-section .text-box p {
    max-width: 445px;
}
@media(max-width: 1024px) {
    .landing .container .hero-section {
        min-height: 843px;
        padding-left: 0px;
        padding-top: 60px;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
    }
    .landing .container .hero-section img.phone{
        bottom: -185px;
        right: 50%;
        transform: translateX(50%);
        border-radius: 25px;
    }
    .landing .container .hero-section .text-box {
        max-width: 573px;
        text-align: center;
    }
    .landing .container .hero-section .text-box p {
        max-width: 100%;
    }
}
@media(max-width: 767px) {
    .landing .container .hero-section {
        padding-top: 80px;
    }
    .landing .container .hero-section img.phone{
        bottom: -202px;
    }
    .landing .container .hero-section .text-box {
        max-width: 100%;
        padding: 0px 14px;
    }
    .landing .container .hero-section .text-box h1 {
        font-size: 32px;
        line-height: 36px;
    }
    .landing .container .hero-section .text-box p {
        margin-bottom: 20px;
    }
}
@media(max-width: 374px) {
    .landing .container .hero-section .text-box h1 {
        font-size: 24px;
        line-height: 30px;
    }
    .landing .container .hero-section .text-box p {
        font-size: 14px;
        line-height: 22px;
    }
}


/* Illustration Section */

.illustration-cards {
    padding-bottom: var(--main-padding);
}
.illustration-cards .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.illustration-cards .container .card {
    min-width: 350px;
    text-align: center;
}
.illustration-cards .container .card .image {
    width: 202px;
    height: 202px;
    background-color: #e7816b33;
    border-radius: 50%;
    margin: 0px auto 48px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.illustration-cards .container .card .image img {
    width: 202px;
    height: 202px;
    transform: translateZ(20px);
}
.illustration-cards .container .card .text-box {
    width: 100%;
    color: var(--dark-grey);
}
.illustration-cards .container .card .text-box h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 5px;
    margin-bottom: 32px;
}
.illustration-cards .container .card .text-box p {
    line-height: 26px;
}
@media(max-width: 1024px) {
    .illustration-cards .container {
        grid-template-columns: 1fr;
        gap: 60px;
    }
    .illustration-cards .container .card {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .illustration-cards .container .card .image {
        min-width: 202px;
        min-height: 202px;
        margin: 0px;
        margin-right: 48px;
    }
    .illustration-cards .container .card .text-box {
        text-align: left;
    }
}
@media(max-width: 767px) {
    .illustration-cards .container .card {
        flex-direction: column;
        min-width: 100%;
    }
    .illustration-cards .container .card .image {
        margin: 0px auto 48px;
    }
    .illustration-cards .container .card .text-box {
        text-align: center;
    }
}