.services {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.services .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.services .container .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    min-height: 308px;
    width: 100%;
    background-size: 100% 100%;
    background-position: center center;
    position: relative;
}
.services .container .service .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: black;
    opacity: 0.5;
    cursor: pointer;
    transition: all var(--main-transition);
}
.services .container .service:hover .layer {
    background-color: var(--peach);
}
.services .container .service.web {
    background-image: url(/assets/home/desktop/image-web-design-large.jpg);
}
.services .container .service.app {
    background-image: url(/assets/home/desktop/image-app-design.jpg);
}
.services .container .service.graphic {
    background-image: url(/assets/home/desktop/image-graphic-design.jpg);
}
.services .container .service.web.span-two {
    grid-row: span 2;
}
.services .container .service h1,
.services .container .service p {
    z-index: 2;
    cursor: pointer;
}
.services .container .service p {
    color: var(--white);
    letter-spacing: 5px;
    line-height: 22px;
    font-size: 15px;
}
.services .container .service p span {
    color: var(--peach);
    margin-left: 5px;
}
@media(max-width: 1024px) {
    .services .container {
        grid-template-columns: 1fr;
    }
    .services .container .service {
        min-height: 208px;
    }
    .services .container .service.web {
        background-image: url(/assets/home/tablet/image-web-design.jpg);
    }
    .services .container .service.app {
        background-image: url(/assets/home/tablet/image-app-design.jpg);
    }
    .services .container .service.graphic {
        background-image: url(/assets/home/tablet/image-graphic-design.jpg);
    }
}
@media(max-width:767px) {
    .services .container .service {
        min-height: 250px;
    }
    .services .container .service.web {
        background-image: url(/assets/home/mobile/image-web-design.jpg);
    }
    .services .container .service.app {
        background-image: url(/assets/home/mobile/image-app-design.jpg);
    }
    .services .container .service.graphic {
        background-image: url(/assets/home/mobile/image-graphic-design.jpg);
    }
    .services .container .service h1 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 1.4px;
        text-align: center;
    }
    .services .container .service p {
        font-size: 14px;
        letter-spacing: 2px;
    }
    .services .container .service p span {
        margin-left: 2px;
    }
}
